useDynLib(HMB, .registration = TRUE)

import("methods")

importFrom(Rcpp, evalCpp)
importFrom("stats", "pnorm", "printCoefmat", "qnorm")

export(ghmb)
export(hmb)
export(ghmb_nonlin)
export(hmb_nonlin)
exportClasses(HMB)
exportClasses(SummaryHMB)
exportMethods(getSpecHMB)
exportMethods(showHMB)
exportMethods(summaryHMB)

export(MethComp)
